---
layout: page
published: true
title: Alex Tsolovikos
order: 1
---

Mechanical Engineer (BS/MS with highest honors, NTUA) and Aerospace Engineering Ph.D. candidate at The University of Texas at Austin with a wide programming and mathematical background in computational engineering, optimization, controls, and machine learning. Currently, I leverage machine learning models to control infinite-dimensional, nonlinear systems described by partial differential equations: a mathematically and practically challenging topic. I have also worked extensively on environment perception and estimation problems in the industry, such as fusing vision with HD maps and Radar mapping.

I'm always looking for challenging problems with a purpose to work on!

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h3>{{ post.title }}</h3>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
<!--       </a>
      <div class="entry">
        {{ post.excerpt }}
      </div> -->

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
